/* CSS Structure
- Fonts & design system
- Utility classes
- Basic document structure

- Media queries
*/
@font-face {
  font-family: "Fraunces";
  src: url('../fonts/fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf') format('truetype');
}
@font-face {
  font-family: "Manrope";
  src: url('../fonts/manrope/Manrope-VariableFont_wght.ttf') format('truetype');
}
:root {
  font-size: 20px;
  font-weight: 400;
  --serif: "Fraunces", serif;
  --sans-serif: "Manrope", sans-serif;
  --color-primary: #24053E;
  --color-cta: #44FFA1;
  --color-secondary: #584D62;
  --color-bg: #FCF8FF;
  --white: #FFFFFF;
}

h1, h2, h3 {
  font-weight: 600;
  font-family: var(--serif);
}
h1 {
  font-size: 4rem;
  line-height: 4rem;
}
h2 {
  font-size: 2.8rem;
  line-height: 3.2rem;
}
h3 {
  font-size: 1.6rem;
  line-height: 2rem;
}
p, button {
  font-size: 0.9rem;
  line-height: 1.6rem;
}
button {
  font-weight: 700;
  letter-spacing: -0.01rem;
}
.btn-primary {
  color: var(--color-primary);
  background-color: var(--color-cta);
  border: 2px solid var(--color-cta);
  padding-inline: 1.2rem;
  padding-block: 0.65rem;
}
.btn-primary:hover {
  color: var(--color-cta);
  background-color: var(--color-primary);
}
.btn-secondary {
  color: var(--white);
  background-color: transparent;
  border-bottom: 3px solid var(--color-cta);
}
.btn-secondary:hover {
  color: var(--color-cta);
}

/* Utility classes */
.bg-dark {
  background-color: var(--color-primary);
}
.padding-sides {
  padding-inline: 8.25rem;
}

/* Basic document structure */
body {
  max-width: 72rem;
  margin: auto;
}
nav {
  padding-top: 2.8rem;
  display: flex;
  justify-content: space-between;
}

/* Media queries */
@media (max-width: 1098px) {
  .padding-sides {
    padding-inline: calc(0.15 * 100vw);
  }
}
@media (max-width: 933px) {
  .padding-sides {
    padding-inline: calc(0.1 * 100vw);
  }
}
@media (max-width: 768px) {
  .padding-sides {
    padding-inline: 2rem;
  }
  nav {
    padding-top: 1.8rem;
  }
}